.btnCart {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
}
.btnCart img{
    width: 24px;
    height: 24px;
}
.cardImg{
    background-color: #F1F1F1;
    border-radius: 20px;
}
.textOrange{
    color: #FA804C;
}
.textIndigo{
    color: #363958;
}
